.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
  opacity: 0.2;
}

@include media-breakpoint-down(sm) {
  .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
  }
  .carousel-indicators {
      bottom: -50px;
  }
}

