html {
  font-size: 100%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}

.nav-link {
  font-weight: 600;
}

button,
.btn {
  font-weight: 700;
}

@include media-breakpoint-down(sm) {
  h2 {
    font-size: 1.3em;
  }

  .display-4 {
    font-size: 2em;
  }
}
