<div class="container">

  <div class="big-break"></div>

  <div class="row justify-contents-center">
    <div class="col">
      <h1 class="display-4 text-center">{{ 'general.404.title' | t }}</h1>
      <p class="text-center">{{ 'general.404.subtext_html' | t }}</p>
    </div>
  </div>

  <div class="big-break"></div>

</div>
