<div class="container">
  <div class="row">
      {% include 'breadcrumbs' %}
  </div>

  <h1 class="display-4 text-center">{{ page.title }}</h1>

  <div class="row">
    <div class="col">
    {{ page.content }}
    </div>
  </div>
</div>
