<ul class="nav nav-tabs" id="product-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="product-description-tab" data-toggle="tab" href="#product-description" role="tab" aria-controls="product-description" aria-selected="true">Description</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
  </li>
</ul>

<!-- Content for tabs -->

<div class="tab-content" id="product-tabs-content">
  <div class="tab-pane fade show active" id="product-description" role="tabpanel" aria-labelledby="product-description-tab">
    {{ product.description }}
  </div>
  <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
    <div id="shopify-product-reviews" data-id="{{product.id}}">
      {{ product.metafields.spr.reviews }}
    </div>
  </div>
</div>
