@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Boostrap theme colors
$theme-colors: (
  "primary": $orange,
  "secondary": $blue
);

// Text colors
$body-color: var(--color-body-text);

// Background colors
$body-bg: var(--color-main-background);

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-accent: var(--color-accent);
$color-border: var(--color-border);


// Typography
$font-heading: var(--font-heading);
$font-body: var(--font-body);
$font-body-weight: var(--font-body-weight);
$font-body-style: var(--font-body-style);
$font-body-bold-weight: var(--font-body-bold-weight);

// Transitions
$transition-duration: 250ms;
